<!-- Teacher Main Dashboard -->

<head>
  <%= stylesheet_link_tag 'teacher_dashboard', media: 'all', 'data-turbolinks-track': 'reload' %>
  <link href="https://cdn.jsdelivr.net/npm/daisyui@latest/dist/full.css" rel="stylesheet">
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body class="teacher-dashboard">
<!-- Navbar -->
<div class="navbar bg-black text-white px-6 w-full fixed top-0 z-50">
  <div class="flex-1">
    <a href="/teacher_dashboard" class="btn bg-transparent text-white border-transparent hover:border-blue-700 hover:bg-blue-500 hover:text-white transition">
      Dashboard
    </a>
  </div>
  <div class="flex-none">
    <div class="dropdown dropdown-end">
      <button class="btn bg-transparent text-white border-transparent hover:border-blue-700 hover:bg-blue-500 hover:text-white transition">
        Account ▼
      </button>
      <ul class="dropdown-content menu p-2 shadow bg-black text-white rounded-box w-36">
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div>
  </div>
</div>

  <!-- Main Content -->
  <main>
    <div class="button-container">
      <a href="<%= manage_students_path %>" class="btn">Student Management</a>
      <a href="<%= student_history_dashboard_path %>" class="btn">Student Problem History</a>
    </div>
  </main>
</body>