<div class="items-center justify-center text-center">
    <a href="<%= manage_students_path %>" class="btn btn-sm btn-neutral">Student Management</a>

    <a href="<%= student_history_dashboard_path %>" class="btn btn-sm btn-neutral">Student Problem History</a>
</div>