<!-- app/views/pages/login.html.erb -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>

</head>
<body class="login-body" style="justify-content: center; align-items: center; display: flex; height: 100vh; background-color: #9aa8c5;">
  <div class="login-container">
    <!-- Header Section -->
    <div class="login-header">
      <h1 class="login-title">Practice Problem Generator 216</h1>
    </div>

    <!-- Login Buttons -->
    <div class="button-container">
      <%= button_to "Teacher Portal", "/auth/google_oauth2?state=teacher", data: { turbo: "false" }, class: "login-button teacher-button" %>

      <!-- Divider -->
      <div class="divider-container">
        <div class="divider-line"></div>
        <span class="divider-text">or</span>
      </div>

      <%= button_to "Student Portal", "/auth/google_oauth2?state=student", data: { turbo: "false" }, class: "login-button student-button" %>
    </div>
  </div>
</body>
</html>