<!-- app/views/teachers/index.html.erb -->
<h1>All Teachers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <% @teachers.each do |teacher| %>
      <tr>
        <td><%= teacher.first_name %> <%= teacher.last_name %></td>
        <td><%= teacher.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>
